.logo {
  font-family: roboto;
  color: white;
  font-size: 24px;
  display: inline-block;
  margin-left: 66px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  height: 90px;
  width: 1160px;
  background-color: #464646;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.header-nav {
  font-family: roboto;
  color: white;
  font-size: 14px;
  display: flex;
}

.btn {
  text-decoration: none;
  color: #f5f5f5;
  font-family: "roboto";
  font-size: 16px;
  line-height: 42px;
  font-style: normal;
  font-weight: normal;
}

.header-nav ul {
  display: flex;
  text-align: center;
  margin-top: 50px;
  margin-right: 32px;
}

.header-nav li {
  margin-right: 34px;
  background-color: #008bd9;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.header-nav li:hover {
  background-color: #0067a0;
  transition: all 1s;
  cursor: pointer;
}

.header-nav .btn {
  line-height: 40px;
}

.content {
  width: 1160px;
  height: 1075px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.wrapper {
  margin: 0 auto;
}

.content {
  text-align: center;
  padding-top: 19px;
}

.online-service {
  font-family: "Biryani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #282828;
  margin: 0 auto;
  display: block;
}

.service-container {
  display: flex;
  margin: 0 auto;
  width: 890px;
  justify-content: space-between;
  margin-top: 25px;
}

.service-item {
  width: 200px;
  height: 110px;
  border: 1px solid #aeaeae;
  background-color: #f5f5f5;
}

.service-item:hover {
  background-color: blue;
  opacity: 0.5;
  transition: all 1s;
  cursor: pointer;
}

.service-item-text {
  color: #0085ff;
  font-family: "Biryani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  align-items: center;
  text-decoration-line: underline;
  margin-top: 10px;
}

.service-item img {
  margin-top: 6px;
}

.news {
  font-family: "Biryani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #282828;
  margin: 0 auto;
  display: block;
  margin-top: 21px;
}

.news-content {
  width: 1160px;
  height: 680px;
  background-color: #464646;
}

.news-list {
  display: flex;
}

.news-item {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #b60016;
  margin-right: 20px;
  margin-top: 15px;
}

.news-btn {
  text-decoration: none;
  line-height: 40px;
  font-family: "Biryani", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
}
.news-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  height: 591px;
  margin-left: 10px;
}
.news-main {
  width: 836px;
  height: 591px;
  margin: 1px;
}

.news-sidebar {
  width: 294px;
  height: 591px;
  margin: 1px;
}

.day-item {
  margin-top: 1px;
  height: 147px;
  background-color: white;
}

.sidebar-item {
  margin-top: 1px;
  background-color: white;
  height: 295px;
}

.login {
  margin-right: 34px;
  background-color: #008bd9;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.registration-form {
  margin: 0 auto;
  background-color: white;
  width: 650px;
  height: 650px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registration-input {
  width: 200px;
  height: 40px;
}

.error {
  color: red;
  font-size: 14px;
}
