a {
  text-decoration: none;
}

.logo {
  font-family: roboto;
  color: white;
  font-size: 24px;
  display: inline-block;
  /* margin-left: 66px; */
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-left-1 {
  margin-top: 15px;
  width: 130px;
  margin: right;
  display: inline-block;
}

.logop {
  height: 60px;
  width: 60px;
  margin-left: 60px;
}

.header {
  height: 90px;
  width: 1160px;
  background-color: #464646;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.header-left {
  width: 460px;
  height: 90px;
  display: flex;
}

.header-right {
  width: 700px;
  height: 90px;
}

ul {
  list-style-type: none;
}

.header-nav {
  font-family: roboto;
  color: white;
  font-size: 14px;
  display: flex;
  height: 45px;
  float: right;
}

.header-profile {
  height: 45px;
  margin-left: 580px;
}

.btn {
  text-decoration: none;
  color: #f5f5f5;
  font-family: 'roboto';
  font-size: 16px;
  line-height: 42px;
  font-style: normal;
  font-weight: normal;
  display: block;
}

.header-nav ul {
  display: flex;
  text-align: center;
  /* margin-right: 32px; */
  height: 45px;
  margin-top: 5px;
  margin-bottom: 0;
}

.header-nav li {
  margin-right: 34px;
  background-color: #1976d2;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.header-nav li:hover {
  background-color: #0067a0;
  transition: all 1s;
  cursor: pointer;
}

.header-nav .btn {
  line-height: 40px;
}

.content {
  width: 1160px;
  height: 1075px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.wrapper {
  margin: 0 auto;
}

.content {
  text-align: center;
  padding-top: 19px;
}

.online-service {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #282828;
  margin: 0 auto;
  display: block;
}

.service-container {
  display: flex;
  margin: 0 auto;
  width: 890px;
  justify-content: space-between;
  margin-top: 25px;
}

.service-item {
  width: 200px;
  height: 110px;
  border: 1px solid #aeaeae;
  background-color: #f5f5f5;
}

.service-item:hover {
  background-color: blue;
  opacity: 0.5;
  transition: all 1s;
  cursor: pointer;
}

.service-item-text {
  color: #0085ff;
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  align-items: center;
  text-decoration-line: underline;
  margin-top: 10px;
}

.service-item img {
  margin-top: 6px;
}

.news {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #282828;
  margin: 0 auto;
  display: block;
}

.news-content {
  width: 1160px;
  height: 680px;
  background-color: #464646;
}

.news-list {
  display: flex;
}

.news-item {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #b60016;
  margin-right: 20px;
  margin-top: 15px;
}

.news-btn {
  text-decoration: none;
  line-height: 40px;
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
}
.news-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  height: 591px;
  margin-left: 10px;
}
.news-main {
  width: 836px;
  height: 591px;
  margin: 1px;
}

.news-sidebar {
  width: 294px;
  height: 591px;
  margin: 1px;
}

.day-item {
  margin-top: 1px;
  height: 147px;
  background-color: white;
}

.sidebar-item {
  margin-top: 1px;
  background-color: white;
  height: 295px;
}

.login {
  margin-right: 34px;
  background-color: #008bd9;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.registration-form {
  margin: 0 auto;
  background-color: white;
  width: 650px;
  /* height: 790px; */
  height: auto;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}

.reg-input {
  margin-top: 0;
}

.registration-input {
  width: 200px;
  height: 40px;
  position: fixed;
}

.error {
  color: red;
  font-size: 14px;
  margin: -20px;
}

.registration-button {
  width: 200px;
  height: 40px;
  margin-top: 25px !important;
}

.login-form {
  margin: 0 auto;
  background-color: white;
  width: 650px;
  height: 320px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registration-btn {
  color: #008bd9;
  text-decoration: none;
}

.profile-head {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #696969;
  margin: 0 auto;
  display: block;
  background-color: #e5e5e5;
}

.profile-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-weight: medium;
}

.ProfileAvatar {
  margin: auto;
  margin-bottom: 20px;
}

.personal-data {
  display: flex;
  justify-content: center;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.personal-data-left {
  width: 160px;
}

.personal-data-text-field {
  margin-top: 20px !important;
}

.employee-head {
  line-height: 50px;
}

.car-btn {
  margin-right: 10px !important;
}

.profile-btn {
  margin-top: 4px !important;
  background-color: #008bd9;
}

.umvd {
  width: 210px;
  height: 32px;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.dutysection {
  width: 109px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-left: 53px;
}

.number {
  background-color: #adadad;
  width: 169px;
  height: 28px;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 86px;
}

.day-heading {
  display: flex;
}

.date-number {
  width: 139px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  margin-top: 9px;
}

.news-heading {
  color: #0064c0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 14px;
}

.day-news {
  width: 738px;
  height: 84px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-left: 5px;
}

/* Stepper styles */
.Stepper-step-content {
  margin: 50px;
}

.Stepper-btn-wrapper {
  text-align: left;
}

/* Map styles */

.map-wrapper {
  border: black solid 1px;
  width: 700px;
  margin: 30px 0;
}

.map-content {
}

.regist-appoint-form {
  margin: 0 auto;
}

.stepper-appoint-wrapper {
  text-align: left;
}

.form-times {
  /* display: flex !important; */
  width: 300px;
}

.time-item {
  margin: 5px !important;
  width: 20px;
}

.date-input {
  margin-left: 0;
}

.crud-table {
  border: 1px;
  border-collapse: collapse;
  /* border: 1px solid grey; */
  margin: 0 auto;
}

.crud-td {
  width: 170px;
  height: 30px;
}

.crud-nav {
  width: 733px;
  height: 33px;
  margin: 0 auto;
  background-color: #3c9eff;
  display: flex;
}

.crud-navv {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: lighter;
  width: 173px;
  padding-top: 0;
  line-height: 33px;
}

.crud-input {
  width: 519px;
  height: 30px;
  border-radius: 0%;
  border-color: #3c9eff;
  outline: none;
}

.crud-search {
  width: 132px;
  height: 30px;
  border-radius: 0%;
  border-color: #3c9eff;
  outline: none;
}

.crud-add-btn {
  width: 82px;
  height: 30px;
  border-radius: 0%;
  border-color: #3c9eff;
  outline: none;
}

/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader */

/* appointDetails */

.appointDetails {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Biryani', sans-serif;
  background-color: rgb(211, 211, 211);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.service-name {
  text-align: left;
  font-size: 26px;
}

.appoint-details-number {
  text-align: left;
  color: grey;
  font-size: 15px;
  margin-bottom: 20px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.region-office-name {
  text-align: left;
  font-weight: 300;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
}
.status {
  font-size: 18px;
}
.dateTime {
  color: grey;
}
.documents-list ul {
  float: right;
}

.personal {
  text-align: left;
}

.personal p {
  font-size: 20px;
}

.documents-list ul {
  text-align: right;
}

.documents-list ul li {
  margin-bottom: 15px;
  font-size: 20px;
}

.appoint-service-table {
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.crud-details-table {
  box-shadow: 0px 9px 15px 5px rgba(34, 60, 80, 0.2);
  width: 500px;
  height: 365px;
  margin: 0 auto;
}

.crud-details-head {
  margin: 0 auto;
  display: flex;
  width: 500px;
  height: 40px;
  background-color: #dddddd;
  border-bottom: solid 1px rgb(138, 138, 138) !important;
}

.crud-details-head-text {
  font-family: 'Biryani', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 40px;
  opacity: 0.5;
}

.crud-details-head-text-2 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: lighter;
  line-height: 40px;
  width: 469px;
}

.crud-details-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 280px;
  background-color: #f3f3f3;
}

.crud-details-content-left {
  text-align: left;
  width: 120px;
  line-height: 30px;
}

.crud-details-content-right {
  text-align: left;
  line-height: 30px;
}

.appoint-service-table-head-fines {
  background-color: #000000;
  height: 50px;
  font-family: 'roboto';
  font-size: 20px;
  color: white;
  font-weight: lighter;
}
